.container {
  max-width: 90%;
  margin: auto;
}
.navbar {
    overflow: hidden;
    display: flex;
    background-color: black;
    /* padding: 10px 10px; */
    justify-content: space-between;
    align-items: stretch;
  }
  .nav__logo {
    float: left;
    font-size: 30px;
    align-items: center;
    text-decoration: none;
  }
  .logo {
    width: 70px;
  }
  .nav__horzontal{
    list-style: none;
    /* display: block; */
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .li__item {
    display: inline-block;
    transition: 0.5s;
  }
  .li__item:hover {
    background-color: rgba(255, 255, 255, 0.137);
  }
  .item__link {
    padding: 14px 20px;
    text-decoration: none;
    transition: 0.5s;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--light__text);
  }
  .item__link:hover {
    color: var(--light__text--hover);
  }
  .nav__opciones {
    display: flex;
    align-items: center;
  }